In [57]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [58]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [59]:
X = df.iloc[:, :-1]
X = df_array = np.array(X)
y = df.iloc[:, -1]
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [60]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [61]:
X_train
X_test
y_train
y_test

73     versicolor
18         setosa
118     virginica
78     versicolor
76     versicolor
31         setosa
64     versicolor
141     virginica
68     versicolor
82     versicolor
110     virginica
12         setosa
36         setosa
9          setosa
19         setosa
56     versicolor
104     virginica
69     versicolor
55     versicolor
132     virginica
29         setosa
127     virginica
26         setosa
128     virginica
131     virginica
145     virginica
108     virginica
143     virginica
45         setosa
30         setosa
22         setosa
15         setosa
65     versicolor
11         setosa
42         setosa
146     virginica
51     versicolor
27         setosa
4          setosa
32         setosa
142     virginica
85     versicolor
86     versicolor
16         setosa
10         setosa
81     versicolor
133     virginica
137     virginica
75     versicolor
109     virginica
Name: species, dtype: object

In [68]:
class KNN:
    def __init__(self,n):
        self.n = n
        
    def fit(self,X_train,y_train):
        self.X_train = X_train
        self.y_train = y_train
        
    def predict(self,X_test):
        y_guess = []
        for test in X_test:
            distances = []
            for rows in X_test:
                dist = np.linalg.norm(test - rows)
                distances.append(dist)
            indices = list(np.argpartition(distances, self.n)[:self.n])
            ind_lables = self.y_train.iloc[indices]
            count = ind_lables.value_counts()
            max_val = count.idxmax()
            y_guess.append(max_val)
        return y_guess

In [87]:
a = KNN(5)

In [88]:
a.fit(X_train,y_train)

In [89]:
a.predict(X_test)

['setosa',
 'virginica',
 'versicolor',
 'setosa',
 'virginica',
 'setosa',
 'versicolor',
 'virginica',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'virginica',
 'setosa',
 'versicolor',
 'virginica',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'setosa',
 'setosa',
 'virginica',
 'versicolor',
 'virginica',
 'virginica',
 'versicolor',
 'setosa',
 'setosa',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'setosa',
 'setosa',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'setosa',
 'virginica',
 'virginica',
 'versicolor']

In [90]:
y_test

73     versicolor
18         setosa
118     virginica
78     versicolor
76     versicolor
31         setosa
64     versicolor
141     virginica
68     versicolor
82     versicolor
110     virginica
12         setosa
36         setosa
9          setosa
19         setosa
56     versicolor
104     virginica
69     versicolor
55     versicolor
132     virginica
29         setosa
127     virginica
26         setosa
128     virginica
131     virginica
145     virginica
108     virginica
143     virginica
45         setosa
30         setosa
22         setosa
15         setosa
65     versicolor
11         setosa
42         setosa
146     virginica
51     versicolor
27         setosa
4          setosa
32         setosa
142     virginica
85     versicolor
86     versicolor
16         setosa
10         setosa
81     versicolor
133     virginica
137     virginica
75     versicolor
109     virginica
Name: species, dtype: object

In [91]:
y_test.eq(a.predict(X_test))

73     False
18     False
118    False
78     False
76     False
31      True
64      True
141     True
68     False
82     False
110    False
12      True
36     False
9       True
19     False
56     False
104    False
69      True
55      True
132    False
29     False
127    False
26      True
128     True
131    False
145     True
108     True
143    False
45      True
30      True
22     False
15     False
65     False
11     False
42     False
146    False
51     False
27      True
4       True
32     False
142    False
85     False
86     False
16     False
10     False
81      True
133    False
137     True
75     False
109    False
Name: species, dtype: bool